[Unit]
Description=Volatile recovery /var
DefaultDependencies=no
Before=local-fs.target

[Mount]
What=tmpfs
Where=/var
Type=tmpfs
Options=mode=0755,nosuid,nodev,size=256M

[Install]
WantedBy=local-fs.target
